<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header class="header">
        <p>ШАПКА</p>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        © 2023&nbsp&nbsp IT&nbspOVERONE, Inc
    </footer>

</body>
</html>
