{% extends 'base.html' %}

{% block title %}
    Добавление товара
{% endblock %}

{% block content %}
    <div class="form_create text">
        <h1>Добавление товара</h1>
        <form method="post" class="form">
            <input type="text" name="category" id="category" placeholder="Название категории" class="text_input">
            <input type="text" name="product" id="product" placeholder="Название продукта" class="text_input">
            <input type="number" name="price" id="price" placeholder="Цена" class="text_input">
            <textarea name="description" id="description" cols="30" rows="3" placeholder="Описание статьи"></textarea>
            <input type="checkbox" name="isActive" id="isActive" checked>
            <input type="submit" value="Добавить" class="button">
        </form>
    </div>
{% endblock %}