{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="category">
        {% if data %}
            {% for elem in data %}
                <div class="image">
                    <a href="/category_products/{{elem.id}}" class="image_a">
                        <img src="static/image/{{ elem.image }}" alt="Картинка">
                        <p class="card_text">{{ elem.category }}</p>
                    </a>

                </div>
            {% endfor %}
        {% else %}
            <h1>Данных категорий нет</h1>
        {% endif %}
    </div>
{% endblock %}