{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="category">
         {% for elem in data %}
            <div class="image">
                <p>{{ elem.product }}</p>
                <p>{{ elem.price }}</p>
                <p>{{ elem.description }}</p>
                {% if elem.isActive %}
                    <p>Есть на складе</p>
                {% else %}
                    <p>Нет на складе</p>
                {% endif %}
                <img src="" alt="">
            </div>
        {% endfor %}
    </div>
{% endblock %}