{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="category">
        {% if data %}
            {% for elem in data %}
                <div class="product">
                    <img src="/static/image/{{ elem.image }}" alt="Картинка">
                    <p>{{ elem.product }}</p>
                    <p>Цена: {{ elem.price }}</p>
                    <p>{{ elem.description }}</p>
                    {% if elem.isActive %}
                        <p>Есть на складе</p>
                    {% else %}
                        <p>Нет на складе</p>
                    {% endif %}
                    <a href="" class="button">Купить</a>
                </div>
                
            {% endfor %}
        {% else %}
            <h1>Данных товаров нет</h1>
        {% endif %}
    </div>
{% endblock %}